/*========== Navbar Start ==========*/
nav{
    height: 450px;
    width: 1800px;
    background-color: rgb(11, 26, 165);
    border-radius: 15px;
}

.logo{
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 200px;
}
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.home{
    margin-left: 500px;
    margin-top: -85px;
    font-size: 30px;
    color: white;
}
.about{
    margin-left: 600px;
    margin-top: -40px;
    font-size: 30px;
    color: white;
}
.services{
    margin-left: 700px;
    margin-top: -40px;
    font-size: 30px;
    color: white;
}
.portfolio{
    margin-left: 825px;
    margin-top: -40px;
    font-size: 30px;
    color: white;
}
.pricing{
    margin-left: 955px;
    margin-top: -40px;
    font-size: 30px;
    color: white;
}
.team{
    margin-left: 1060px;
    margin-top: -40px;
    font-size: 30px;
    color: white;
}
.dropdown{
    margin-left: 1150px;
    margin-top: -40px;
    font-size: 30px;
    color: white;
}
.contact{
    margin-left: 1310px;
    margin-top: -40px;
    font-size: 30px;
    color: white;
}
/*========== Navbar End ==========*/


/*========== carosil Start ==========*/
 .carosil1{
    border-radius: 20px;
    background-color: darkcyan;
    margin-left: 100px;
    margin-top: 80px;
    height: 200px;
    width: 500px;
    transition:height 5s,width 5s;
}
.carh1{
    padding-left: 120px;
}
.carosil1:hover{
    background-color: darkred;
    height: 200px;
    width: 500px;
}

.carosil2{
    border-radius: 20px;
    background-color: darkcyan;
    margin-left: 680px;
    margin-top: -220px;
    height: 200px;
    width: 500px;
}
.carh2{
    padding-left: 120px;
}
.carosil2:hover{
    background-color: darkred;
    height: 200px;
    width: 500px;
}

.carosil3{
    border-radius: 20px;
    background-color: darkcyan;
    margin-left: 1250px;
    margin-top: -220px;
    height: 200px;
    width: 500px;
}
.carh3{
    padding-left: 110px;
}
.carosil3:hover{
    background-color: darkred;
    height: 200px;
    width: 500px;
}

.button0{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 250px;
    margin-top: 5px;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #f6076b;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef66
}

.button01{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 450px;
    margin-top: 5px;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #f6076b;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef66
}

.button02{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 420px;
    margin-top: 15px;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #f6076b;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef66
}

/*========== end of the carosil ==========*/


/*========== About Start ==========*/
.about1{
    font-size: 30px;
    margin-left: 190px;
}
.a1{
    font-size:50px;
    margin-top: -20px;
}
.a2{
    font-size: 22px;
}
.a3{
    font-size: 22px;
    margin-top: -190px;
    margin-left: 850px;
}

.button1{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 250px;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #f6076b;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #ef66
}
/*========== End of the About  ==========*/


/*========== Data Start ==========*/

/* Data1 Start */

.tab1{
    height: 500px;
    width: 700px;
    border-radius: 50px;
    background-color: darkorange;
    margin-top: 70px;
    margin-left: 170px;
}

.tabs1{
    height: 100px;
    width: 200px;
    padding-left: 130px;
    padding-top: 2px;
    margin-top: 50px;
    margin-left: 100px;
}
.tab2{
    padding-left: 90px;
}
.tab1p{
    padding-top: 10px;
}
/* End of the Data1 */


/* Data2 Start */
.tab2a{
    height: 500px;
    width: 700px;
    border-radius: 50px;
    background-color: darkorange;
    margin-top: -550px;
    margin-left: 1000px;
}

.tabs21{
    height: 100px;
    width: 200px;
    padding-left: 130px;
    padding-top: 2px;
    margin-top: 50px;
    margin-left: 100px;
}
.tab22{
    padding-left: 90px;
}
.tab2p{
    padding-top: 10px;
}
/* End of the Data2 */

/* Data3 Start */

.tab2b{
    height: 500px;
    width: 700px;
    border-radius: 50px;
    background-color: darkorange;
    margin-top: 70px;
    margin-left: 170px;
}

.tabs22{
    height: 100px;
    width: 200px;
    padding-left: 130px;
    padding-top: 2px;
    margin-top: 50px;
    margin-left: 100px;
}
.tab23{
    padding-left: 90px;
}
.tab3p{
    padding-top: 10px;
}

/* End of the Data3 */

/* Data4 Start */

.tab2c{
    height: 500px;
    width: 700px;
    border-radius: 50px;
    background-color: darkorange;
    margin-top: -550px;
    margin-left: 1000px;
}

.tabs23{
    height: 100px;
    width: 200px;
    padding-left: 130px;
    padding-top: 2px;
    margin-top: 50px;
    margin-left: 100px;
}
.tab24{
    padding-left: 90px;
}
.tab4p{
    padding-top: 10px;
}

/* End of the Data4 */

/*========== End of the Data ==========*/

/*========== Call Of Action Start ==========*/
.call{
    height: 350px;
    width: auto ;
    color: white;
    background-color: darkblue;
}
.callh2{
    padding-top: 90px;
    padding-left: 200px;
    font-size: 35px;
}
.callh4{
    padding-left: 200px;
    font-size: 21px;
}
/*========== Call Of Action End ==========*/

/*========== Our Team Start ==========*/
.teams{
    height: 90px;
    width: 1800px;
    color: white;
    background-color: darkblue;     
}

/*==========End of Our Team ==========*/

/*========== Contact Us Start ==========*/
.contactus{
    background-color: darkblue;
    height: 500px;
    width: 1800px;
    
}
.contacth2{
    font-size: 35px;
    padding-left: 200px;
    padding-top: 50px;
}

/*========== End Of Contact Us ==========*/


/*========== Footer Start ==========*/

.footer{
    height: 300px;
    width: auto;
    color: azure;
    background-color: darkblue;
    margin-top: 80px;
}

.footerh2{
    font-size: 50px;
    padding-top: 40px;
    padding-left: 800px;
}

.footerh4{
    font-size: 20px;
    padding-top: -90px;
    padding-left: 400px;
}

.footerh41{
    font-size: 20px;
    padding-left: 725px;
}

.footerh42{
    font-size: 20px;
    padding-left: 750px;
}
/*========== End of Footer ==========*/

